.catalog__title {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 30px;

  font-family: @use-font;
  color: @black;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-align: left;

  border-bottom: 1px solid @grayst;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .catalog {
    flex-direction: row;
  }

  .catalog__title {
    margin-top: 30px;
    margin-bottom: 55px;

    font-size: 60px;
    line-height: 60px;
    text-align: center;

    border: none;
  }
}

@media (min-width: @desktop-width) {
  .catalog__title {
    margin-top: 50px;
    flex-basis: 100%;
    text-align: left;
  }
}
