.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @use-font;
  color: @black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  border-bottom: 1px solid @grayst;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


@media (min-width: @tablet-width) {
.catalog {
  flex-direction: row;
  }
.catalog__title{
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  border:none;
  }
}

@media (min-width: @desktop-width) {
.catalog{

}
.catalog__title{
  flex-basis: 100%;
}
}
