.catalog-more__title{
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
}
.catalog-more__deck{
  font-family:"Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}
.catalog-more__button{
  font-family:"Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #111111;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
}
