.catalog-more__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
}
.catalog-more__deck {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @deafult-font;
  color: @black--light;
}
.catalog-more__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: @deafult-font;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #f2f2f2;
}
