.catalog-item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
}

.catalog-item__link {
  text-decoration: none;
}

.catalog-item__info {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: @deafult-font;
}
