.description-catalog__info {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.description-catalog__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
}

.description-catalog__desc {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @deafult-font;
  color: @black--light;

  border-bottom: 1px solid #d9d9d9;
}

.description-catalog__button {
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
  text-decoration: none;
}

.description-catalog {
 display: flex;
 flex-wrap: wrap;
}

/* @media (min-width: @tablet-width) {
.description-catalog {
 }
}

@media (min-width: @desktop-width) {
.description-catalog {

 }
}
 */
