.description-catalog__info{
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.description-catalog__title{
  font-family: "Oswald",Arial, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
}
.description-catalog__desc{
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}
.description-catalog__button{
  font-family: "Oswald",Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #111111;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
