.example-result {
  display: flex;
  flex-wrap: wrap;
}

.example-result__item {
  border: 1px solid @grayst;
  border-radius: 5px;
  width: 122px;

  &:nth-child(1){
    margin-right: 32px;
  }
}

.example-result__title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: @use-font;
  color: @black;
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
}

.example-result__text{
  width: 88px;
  margin: 0 auto;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-family: @deafult-font;
  color: @black;
  background-color:@gray--werylight;
  text-align: center;
  margin-top: 9px;
  margin-bottom: -15px;
  &:nth-child(2){
  width: 60px;
  }
}

.example-result__exp{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 38px;

}

@media (min-width: @tablet-width) {
  .example-result {
    margin-bottom: 65px;
  }
  .example-result__title {
    font-size: 30px;
    line-height: 37px;
  }
  .example-result__text {
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    margin-top: 15px;
    margin-bottom: -13px;
    &:nth-child(2){
      width: 140px;
    }
  }
  .example-result__item{
    width: 166px;
    margin-bottom: 15px;
  }

  .example-result__exp {
    width: 190px;
    margin-top: 7px;
    margin-right: 0;
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}
@media (min-width: @desktop-width) {
  .example-result {
    background-color: @gray--werylight;
    margin-bottom: 0px;
    padding-bottom: 65px;
    width: 430px;
    display: flex;
    flex-wrap: wrap;
  }

  .example-result__exp {
    margin: 0;
    width: 100%;
    text-align: left;
    margin-top: 45px;
 }
 .example-result__prise {
    margin-left: 65px;
 }
}
