.example {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 102%;
    width: 100%;
    background-color: @gray--werylight;
    z-index: -1;
  }
}

.example__title{
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @use-font;
  color: @black;
  padding-top: 5px;
  margin-bottom: 24px;
}

.example__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @deafult-font;
  color: @black;
  margin-bottom: 25px;
  text-align: left;
  padding-right: 5px;
}



@media (min-width: @tablet-width) {
  .example {
    &:after {
    height: 82%;
    width: 100%;
   }
  }

  .example__title {
    margin-top: 40px;
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }


  .example__text {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: @desktop-width) {
  .example {
    &:after {
      height: 75%;
      width: 100%;
  }
}
 .example__text {
    width: 431px;
    margin-top: 143px;
    margin-bottom: 65px;
 }

 .example__title {
  padding-top: 0px;
  margin-top: 20px;
 }


}
