.footer-main {
  background-color: @gray--werylight;
}

.footer-main__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-main__logo {
  margin-top: 11px;
  padding-bottom: 30px;

  text-align: center;

  border-bottom: 1px solid @grayst;
}

@media (min-width: @tablet-width) {
  .footer-main__nav {
    flex-direction: row;

    padding-top: 48px;
    padding-bottom: 35px;
  }

  .footer-main__logo {
    margin-top: 0;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .footer-main__nav {
    padding-top: 65px;
    padding-bottom: 35px;
  }
}
