.footer-main {
  background-color: @gray--werylight;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-main__logo {
text-align: center;
}

@media (min-width: @tablet-width) {
.footer-main {
 }
}

@media (min-width: @desktop-width) {
.footer-main {
 }
}
