.main-map {

}

.main-map__info {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 51px;
}


.main-map__title {
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
  text-align: left;
  margin-top: 13px;
}

.main-map__adress {
  width: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: @deafult-font;
  color: @black;
  text-align: left;
}
.main-map__city {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: @deafult-font;
  color: @black;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .main-map__info {
    width: 628px;
    margin-top: 60px;
    margin-bottom: 42px;
    padding-right: 40px;
    padding-left: 40px;
  }


  .main-map__title{
    margin-right: auto;
    font-size: 20px;
    line-height: 25px;
    width: 160px;
  }

  .main-map__adress{
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
  }
  .main-map__city {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}
@media (min-width: @desktop-width) {
  .main-map {
    position: relative;
  }
  .main-map__title{
    font-size: 20px;
    line-height: 25px;
    width: 160px;
  }
  .main-map__info {
    position: absolute;
    top: 50px;
    width: 570px;
    padding: 0px;
    margin: 0;
    padding-top: 55px;
    padding-bottom: 45px;
    background: #ffffff;
  }

  .main-map__title {
    font-size: 20px;
    line-height: 25px;
    margin-left: 75px;
    margin-right: 10px;
  }
  .main-map__adress {
    text-align: left;
    margin-left: 80px;
    margin-right: 10px;
  }
  .main-map__city {
    text-align: left;
  }
}
