.navgation__list-link{
  font-family: "Oswald",Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #262626;
  text-decoration:none;
}
.navgation__list{
  list-style: none;
}
