.navgation__list-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #262626;
  text-decoration: none;
}
.navgation__list {
  list-style: none;
}
