.page-header {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
}

.page-header__logo {

}

@media (min-width: @tablet-width) {
  .page-header {
   flex-direction: row;
  }

  .page-header__logo {
  }
}

@media (min-width: @desktop-width) {
.page-header {
  }
}
