.page-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid @grayst;
}

.page-header__logo {
  margin-bottom: 13px;
  margin-top: 13px;
  margin-left: 20px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    margin: 0 auto;
    border:none;
}
  .page-header__logo {
    border:none;
    margin-top: 25px;
    margin-left: 0px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
