.page-header {
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin: 0 auto;
width: 280px;
padding-left: 20px;
padding-right: 20px;
}

.page-header__logo {

}

@media (min-width: @tablet-width) {
  .page-header{
flex-direction: row;
width: 768px;
padding-left: 30px;
padding-right: 30px;
  }
  .page-header__logo {
    width: 120px;
  }
}

@media (min-width: @desktop-width) {
.page-header{
  width: 1300px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  }
}
