.program-select {

}

.program-select__title {
  margin-top: 15px;

  font-family: @use-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @black;
}

.program-select__text {
  margin-bottom: 40px;

  font-family: @use-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black;
}

.program-select__button {
  display: block;
  width: 280px;
  margin-top: 14px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
}

.program-select__send {

}

.program-select__field {
  font-family: @deafult-font;
  color: @black;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .program-select__title {
    margin-top: 45px;
    margin-bottom: 50px;

    font-size: 60px;
    line-height: 60px;
  }

  .program-select__text {
    margin-bottom: 65px;
    margin-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }

  .program-select__form {
    margin-left: 40px;
    margin-right: 35px;
  }

  .program-select__button {
    width: 283px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 20px;
  }

  .program-select__send {
    display: flex;
    margin-bottom: 105px;
  }

  .program-select__field {
    margin-top: 30px;
    margin-left: 63px;

    font-size: 16px;
    line-height: 16px;
  }
}


@media (min-width: @desktop-width) {
  .program-select {

  }

  .program-select__title {
    margin-top: 60px;
    margin-bottom: 59px;
  }

  .program-select__text {
    margin-left: 0px;
  }

  .program-select__form {
    display: flex;
    flex-wrap: wrap;

    margin-left: 0px;
    margin-right: 0px;
  }

  .program-select__button {
    width: 570px;
    margin-top: 20px;
  }

  .program-select__field {
    margin-left: 82px;
    margin-top: 37px;
  }

  .program-select__send {
    margin-bottom: 60px;
  }
}
