.program-cat-info {

}

.program-cat-info__input {
    width: 100%;
    border: 1px solid @grayst;
    padding: 13px 15px;
    font-family: @use-font;
    color: @black;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
}

.program-cat-info__text {
  margin-right: 9px;
  flex-shrink: 0;
}

.program-cat-info__info{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

@media (min-width: @tablet-width) {

}


@media (min-width: @desktop-width) {
 .program-cat-info {
  width: 570px;
  margin-right: auto;
 }
}
