.works-item__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @deafult-font;
  color: @black--light;
}

.works-item__desc{
}

@media (min-width: @tablet-width) {
  .works-item {
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .works-item {

  }
}
