.works {
  width: 280px;
  margin: 0 auto;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
}

.works__wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .works {
  width: 708px;
  padding-left: 30px;
  padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .works {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
