.works {

}

.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
}

.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* @media (min-width: @tablet-width) {
  .works {
  }
}

@media (min-width: @desktop-width) {
  .works {
  }
}
 */
