.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @use-font;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @green;
  border: none;
}
.program-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: @use-font;
  color: @black;
  text-transform: uppercase;
}
.program-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: @use-font;
  color: @black;
}

.wrapper {
  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@media (min-width: @tablet-width) {
  .wrapper {
    width: 708px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .program-title {
  font-size: 36px;
  line-height: 36px;
  }

  .active-link {
    padding-bottom: 5px;
    border-bottom:2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .wrapper {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .active-link {
    padding-bottom: 10px;
    border-bottom:2px solid @white;
  }
  .active-link--green {
    padding-bottom: 6px;
    border-bottom:2px solid @green;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
