
@deafult-font: "Open Sans", "Arial", sans-serif;
@use-font: "Oswald", "Arial", sans-serif;
@green: #68b738; /* Основной цвет */
@green--darker: #5eaa2f; /* Цвет при наведении,нажатии кнопок */
@black:#111111; /* Цвет заголовков */
@black--light: #444444; /* Цвет текста */
@white: #ffffff; /* Белый цвет заголовков */
@gray: #707070; /* Цвет текста при наведении */
@gray--light: #b7b7b7; /* Цвет текста при нажатии */
@input-color: #e6e6e6; /* Цвет обводки */
@input-color--hover: #cdcdcd; /* Цвет обводки при наведении */
@input-color--active: @black--light; /* Цвет обводки при активности */
@input-color--active: #ff8282; /* Цвет обводки при ошибке */

